/*arquivo index que mostra todos os perfis disponíveis*/

.characters-page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.button-voltar {
  align-self: flex-start;
}

.characters-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  /* margin-right: 200px; */
}

.character-card {
  text-align: center;
}

.container-centraliza-p {
  font-weight: bold;
}

.add-character button {
  padding: 15px;
  font-size: 20px;
  margin-left: 50px;
  cursor: pointer;
}

.pig {
  max-width: 99px;
  height: 159px;
  object-fit: cover;
}

.character-card {
  margin-right: 50px;
}
